.to-do-list{
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: black;
      margin-left: 1em;
      font-size: .75em;
    }
}
.task-div {
  padding: 1em;
}
.notes-div {
  padding: 1em;
}
.submit-div {
  margin: 1em;
}
